body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;

    /* Word-wrap e Overflow-wrap: 
    
    Usado para quando o container chegar no final de sua largura o texto quebrar sem aumentar o tamanho do container e quebrar sua largura atual */
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    color: black;
}

.principal {
    width: 100%; /* largura de 100% da tela*/

    margin: 0 auto; /* 0 de margim em cima e embaixo, e automatica na esquerda e direita */
}

main {
    display: block;
    background-color: white;
}

.container {
    width: 100%; /* Largura do container de 100%* da tela*/

    max-width: 700px; /* Larugura maxima que pode chegar, fazendo ficar responsivo pra outros dispositivos*/

    margin: 0 auto;

    padding: 0 20px; /* 0 de padding em baixo e em cima, e 20px na esquerda e direita*/
}

section.modulo p {
    margin-bottom: 40px; /* margin usada para dar um espaço entre os parágrafos */
}

section.modulo:last-child { 
    margin-bottom: 0px; /* Margin tirada apenas do ultimo item, nos outros continuara tendo os 40px */

    /* last-child: Acessar o ultimo item(filho) */
}

section.modulo h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.modulo.content {
    padding: 40px 0px; /* padding de 40px em cima e em baixo, e 0 nas laterais */

    background-color: #ece7d5;
}

section.modulo.parallax {
    display: flex; /* Deixa o conteudo flexivel pra mudar sua posição */

    flex-direction: column; /* Flex-direction: column, Usado para o texto ou titulo, fique na posição de uma coluna(posição normal) */

    justify-content: center; /* Usado em conjunto do Flex-direction, fazendo com que o texto/titulo continue na posição de coluna, só que no meio(center-left) */

    height: 100vh !important; /* Usado para que o h1 ocupe 100% da altura da viewport, já o !important, é usado para forçar o uso 100% da vh */

    width: 100%; /* Usado para que a imagem pegue 100% da largura */

    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    /* Parallax em outros navegadores */
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;

}

section.modulo.parallax::after {
    content: ""; /* Usado pois não sera usado escrita, será apenas o degradê */
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, /*cima*/ rgba(0,0,0,0) 0, /*baixo*/ rgba(0,0,0,0) /*opacidade*/40%, /*cor*/ #000 100% );

    /* Degradê em outros navegadores */
    background: -moz-linear-gradient(to bottom, /*cima*/ rgba(0,0,0,0) 0, /*baixo*/ rgba(0,0,0,0) /*opacidade*/40%, /*cor*/ #000 100% );
    background: -webkit-linear-gradient(to bottom, /*cima*/ rgba(0,0,0,0) 0, /*baixo*/ rgba(0,0,0,0) /*opacidade*/40%, /*cor*/ #000 100%);
    background: -o-linear-gradient(to bottom, /*cima*/ rgba(0,0,0,0) 0, /*baixo*/ rgba(0,0,0,0) /*opacidade*/40%, /*cor*/ #000 100% );;
}


section.modulo.parallax1 {
    background-image: url(imagens/wallpaper002.jpg);
}

section.modulo.parallax h1 {
    color: white;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}

section.modulo.parallax2 {
    background-image: url(imagens/background002.jpg);
}