@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url(pacote-d013/imagens/fundo-madeira.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    min-height: 100vh;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url(pacote-d013/imagens/frame-iphone.png) no-repeat;
    width: 311px;
    height: 627px;
}