@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
}

header {
    background-color: darkslategray;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

nav {
    display: flex;
    flex-flow: row wrap;
}

a {
    background-color: rgb(71, 114, 6);
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

a:hover {
    background-color: white;
    color: rgb(71, 114, 6);
    transition: background-color .5s;
}

h1 {
    color: white;
    flex: 0 0 200px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.158);
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.493); 
}

p {
    text-align: justify;
}

@media screen and (max-width: 509px) {
    header, nav {
        flex-flow: column;
        justify-content: center;
        
    }
    h1 {
        flex: auto;
        text-align: center;
    }
}